.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: auto -60px;
}
.push {
	height: 60px;
}
.footer {
	height: 60px;
	font-size: 15px;
	background-color: #f5f5f5;
}

/* container */

.col-container-fluid {
	margin-right: auto;
	margin-left: auto;
}

.col-container-fluid:before,
.col-container-fluid:after {
	display: table;
	content: " ";
},

.col-container-fluid:after {
	clear: both;
}

/* orientation marketing */

.marketing-sea {
	background-color: #2e8b57;
}

.marketing-white {
	background-color: #ffffff;
}

.marketing-lightsteelblue {
	background-color: #b0c4de;
}

/* title style*/

.orient-title {
	color: #f8f8ff;
	font-size: 60px;
}

.school-title {
	color: #b0c4de;
	font-size: 16px;
}

/* time table */

.timetable {
	width: 100%;
}

.timetable thead th {
	text-align: center;
	color: #fa0872;
}

.timetable tbody td {
	text-align: center;
}

.login-box{
	background: #fff;
  	border: 1px solid #ddd; 
  	margin: 100px 0;
  	padding: 40px 20px 0 20px;
}