<div ng-controller='SCIDailyProgController'>
	<nav class="top-bar foundation-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<span data-tooltip class="has-tip" title="try resizing your browser and and watch the grid resize itself">
					<h1 class="show-for-small-only">
						<a href="/"></a>
					</h1>
				</span>
				<span data-tooltip class="has-tip" title="try resizing your browser and and watch the grid resize itself">
					<h1 class="show-for-medium-only">
						<a href="/"></a>
					</h1>
				</span>
				<span data-tooltip class="has-tip" title="try resizing your browser and and watch the grid resize itself">
					<h1 class="show-for-large-only">
						<a href="/"></a>
					</h1>
				</span>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li><a href="/"><i class="fi-home"></i>&nbsp;Home</a></li>
				<li ng-show="!isLoggedIn()"><a href="/login">Log In</a></li>
			</ul>
		</section>
	</nav>
	<div class="col-container-fluid marketing-sea">
		<h1 class="orient-title text-center">Welcome to Orientation Week 2016</h1>
	</div>
	<div class="col-container-fluid marketing-white">
		<div class="row">
			<div class="large-12 columns">
				<div class="panel radius">
					<h2 class="text-center">School of Computing &amp; Informatics</h2>
					<h4 class="text-center">Activities (Sep. 2 2015)</h4>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="large-1 small-1 columns"></div>
		<div class="large-10 small-10 large-centered columns text-center">
			<table class="table timetable">
				<thead>
					<tr>
						<th>Title</th>
						<th>Venue</th>
						<th>Organizer</th>
						<th>Begins</th>
						<th>Ends</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="evt in events">
						<td>{{evt.title}}</td>
						<td>{{evt.venue}}</td>
						<td>{{evt.organizer}}</td>
						<td>{{evt.startTime}}</td>
						<td>{{evt.endTime}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
