<div ng-controller='MainController'>
	<nav class="top-bar foundation-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<span data-tooltip class="has-tip" title="try resizing your browser and and watch the grid resize itself">
					<h1 class="show-for-small-only">
						<a href="/"></a>
					</h1>
				</span>
				<span data-tooltip class="has-tip" title="try resizing your browser and and watch the grid resize itself">
					<h1 class="show-for-medium-only">
						<a href="/"></a>
					</h1>
				</span>
				<span data-tooltip class="has-tip" title="try resizing your browser and and watch the grid resize itself">
					<h1 class="show-for-large-only">
						<a href="/"></a>
					</h1>
				</span>
			</li>
		</ul>
		<section class="top-bar-section">
			<ul class="right">
				<li ng-show="!isLoggedIn()"><a href="/login">Log In</a></li>
			</ul>
		</section>
	</nav>
	<div class="col-container-fluid marketing-sea">
		<h1 class="orient-title text-center">Welcome to Orientation Week 2016</h1>
	</div>
	<div class="col-container-fluid marketing-white">
		<div class="row">
			<div class="large-12 columns">
				<h1></h1>
			</div>
		</div>
	</div>
	<div class="col-container-fluid marketing-white">
		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-4 columns">
						<h2 class="school-title text-center"><i class="fi-laptop"></i>&nbsp;School of Computing &amp; Informatics</h2>
						<a href="/list/sci"><img src="/img/computing.jpg"></a>
					</div>
					<div class="large-4 columns">
						<h2 class="school-title text-center"><i class="fi-wrench"></i>&nbsp;School of Engineering</h2>
						<a href=""><img src="/img/engineering.jpg"></a>
					</div>
					<div class="large-4 columns">
						<h2 class="school-title text-center"><i class="fi-first-aid"></i>&nbsp;S. Health &amp; Applied Sciences</h2>
						<a href=""><img src="/img/health.jpg"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-container-fluid marketing-white">
		<div class="row">
			<div class="large-12 columns">
				<hr>
			</div>
		</div>
	</div>
	<div class="col-container-fluid marketing-white">
		<div class="row">
			<div class="large-12 columns">
				<div class="row">
					<div class="large-4 columns">
						<h2 class="school-title text-center"><i class="fi-quote"></i>&nbsp;School of Human Sciences</h2>
						<a href="/"><img src="/img/human.jpg"></a>
					</div>
					<div class="large-4 columns">
						<h2 class="school-title text-center"><i class="fi-trophy"></i>&nbsp;School of Management</h2>
						<a href=""><img src="/img/management.jpg"></a>
					</div>
					<div class="large-4 columns">
						<h2 class="school-title text-center"><i class="fi-marker"></i>&nbsp;S. Natural Resources &amp; Spatial Sciences</h2>
						<a href=""><img src="/img/natural.jpg"></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
